{
  "openapi": "3.0.0",
  "info": {
    "title": "Vidgo API - ElevenLabs V3 TTS",
    "description": "Turn text into spoken audio with ElevenLabs V3, with selectable voices, language control, and optional timestamps for narration and dialogue.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vidgo.ai"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/generate/submit": {
      "post": {
        "tags": [
          "Audio Series"
        ],
        "summary": "ElevenLabs V3 TTS",
        "operationId": "submit_elevenlabs_tts_eleven_v3",
        "description": "Convert text into speech with selectable voices, stability, language settings, and text normalization. Submit a request, then use task_id to retrieve audio and returned timestamp attachments from files.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "elevenlabs/tts/eleven-v3",
                    "enum": [
                      "elevenlabs/tts/eleven-v3"
                    ]
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "text"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "text": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 5000,
                        "description": "Text to speak, containing 1–5,000 characters after leading and trailing whitespace is trimmed."
                      },
                      "voice": {
                        "type": "string",
                        "default": "Rachel",
                        "description": "Voice name used for speech generation. Select one of the listed voices.",
                        "enum": [
                          "Aria",
                          "Roger",
                          "Sarah",
                          "Laura",
                          "Charlie",
                          "George",
                          "Callum",
                          "River",
                          "Liam",
                          "Charlotte",
                          "Alice",
                          "Matilda",
                          "Will",
                          "Jessica",
                          "Eric",
                          "Chris",
                          "Brian",
                          "Daniel",
                          "Lily",
                          "Bill",
                          "Rachel"
                        ]
                      },
                      "stability": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "default": 0.5,
                        "description": "Voice stability from 0 to 1."
                      },
                      "timestamps": {
                        "type": "boolean",
                        "default": false,
                        "description": "Set true to request timestamps. Returned timestamps.json is a separate item in files with file_type other."
                      },
                      "language_code": {
                        "type": "string",
                        "description": "Optional ISO 639-1 language code to specify the spoken language, such as en or zh."
                      },
                      "apply_text_normalization": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "on",
                          "off"
                        ],
                        "default": "auto",
                        "description": "Choose auto, on, or off to control text normalization before speech generation."
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional public HTTP(S) URL for finished or failed task notifications."
                  }
                },
                "description": "Set model and optional callback_url at the request root. Place speech generation parameters inside input."
              },
              "examples": {
                "basic": {
                  "summary": "Stars in the attic",
                  "value": {
                    "model": "elevenlabs/tts/eleven-v3",
                    "input": {
                      "text": "[whispers] Wait... that ticking is coming from inside the wall. [curious] This little brass key fits the crack. One turn, and... [excited] the whole ceiling is full of stars! [laughs] Grandpa, you built a planetarium in the attic. [exhales] All these years, it was waiting for us.",
                      "voice": "Charlotte",
                      "language_code": "en",
                      "stability": 0.5,
                      "timestamps": false,
                      "apply_text_normalization": "auto"
                    }
                  }
                },
                "eleven-v3-02": {
                  "summary": "My first dumpling",
                  "value": {
                    "model": "elevenlabs/tts/eleven-v3",
                    "input": {
                      "text": "[sighs] 我练了一个下午，面团还是歪歪扭扭的。奶奶看了一眼，说：别急，手放轻一点。[curious] 这样吗？先对折，再慢慢捏紧……[laughs] 真的站住了！虽然像只胖企鹅，但这是我第一次包好饺子。原来，有些本事不是听懂的，是一起做着学会的。",
                      "voice": "Rachel",
                      "language_code": "zh",
                      "stability": 0.5,
                      "timestamps": false,
                      "apply_text_normalization": "auto"
                    }
                  }
                },
                "eleven-v3-03": {
                  "summary": "The character of sound",
                  "value": {
                    "model": "elevenlabs/tts/eleven-v3",
                    "input": {
                      "text": "[curious] Why does a violin sound different from a flute when both play the same note? Their fundamental frequency can match, but the overtones do not. [excited] Those extra vibrations give each instrument its own sound. At 440 Hz, the pitch is A; the pattern above it is what makes the voice of the instrument recognizable.",
                      "voice": "George",
                      "language_code": "en",
                      "stability": 0.5,
                      "timestamps": true,
                      "apply_text_normalization": "on"
                    }
                  }
                },
                "callback": {
                  "summary": "Receive a completion callback",
                  "value": {
                    "model": "elevenlabs/tts/eleven-v3",
                    "input": {
                      "text": "[whispers] Wait... that ticking is coming from inside the wall. [curious] This little brass key fits the crack. One turn, and... [excited] the whole ceiling is full of stars! [laughs] Grandpa, you built a planetarium in the attic. [exhales] All these years, it was waiting for us.",
                      "voice": "Charlotte",
                      "language_code": "en",
                      "stability": 0.5,
                      "timestamps": false,
                      "apply_text_normalization": "auto"
                    },
                    "callback_url": "https://your-domain.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "enum": [
                        200
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "task_id",
                        "status",
                        "created_time"
                      ],
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "finished",
                            "failed"
                          ]
                        },
                        "created_time": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "data": {
                    "task_id": "LPV36KJQ0Y2SYT21",
                    "status": "running",
                    "created_time": "2026-09-27T10:45:57"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown or disabled model",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid JSON or non-object request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate or API key credit limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Unable to create the generation task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The requested model is temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request timed out",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Request timeout"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use VIDGO_API_KEY."
      }
    }
  }
}
