{
  "openapi": "3.0.0",
  "info": {
    "title": "Vidgo API - xAI TTS 1",
    "description": "Convert text into speech with xAI TTS, choosing from five voices and multiple languages for narration, dialogue, and spoken content.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vidgo.ai"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/generate/submit": {
      "post": {
        "tags": [
          "Audio Series"
        ],
        "summary": "xAI TTS 1",
        "operationId": "submit_xai_tts_v1",
        "description": "Send only the fields shown for this workflow. Parameters from other workflows are rejected before credits are deducted.\n\nWhen supplied, text must not be blank.\n\nUsage is based on text length.\n\nThe bit_rate output option applies only to MP3.\n\nRead every item in files. Generated audio uses file_type=audio; timestamp and alignment files may use other. Optional file metadata is retained when available.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "xai/tts/v1"
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "text"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "text": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 15000,
                        "description": "Text."
                      },
                      "voice": {
                        "type": "string",
                        "enum": [
                          "eve",
                          "ara",
                          "rex",
                          "sal",
                          "leo"
                        ],
                        "default": "eve",
                        "description": "Voice."
                      },
                      "language_code": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "en",
                          "ar-EG",
                          "ar-SA",
                          "ar-AE",
                          "bn",
                          "zh",
                          "fr",
                          "de",
                          "hi",
                          "id",
                          "it",
                          "ja",
                          "ko",
                          "pt-BR",
                          "pt-PT",
                          "ru",
                          "es-MX",
                          "es-ES",
                          "tr",
                          "vi"
                        ],
                        "default": "auto",
                        "description": "Language code."
                      },
                      "output_format": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "codec": {
                            "type": "string",
                            "enum": [
                              "mp3",
                              "wav",
                              "pcm",
                              "mulaw",
                              "alaw"
                            ],
                            "default": "mp3",
                            "description": "Codec."
                          },
                          "sample_rate": {
                            "type": "integer",
                            "enum": [
                              8000,
                              16000,
                              22050,
                              24000,
                              44100,
                              48000
                            ],
                            "default": 24000,
                            "description": "Sample rate."
                          },
                          "bit_rate": {
                            "type": "integer",
                            "nullable": true,
                            "enum": [
                              32000,
                              64000,
                              96000,
                              128000,
                              192000,
                              null
                            ],
                            "default": 128000,
                            "description": "Bit rate."
                          }
                        },
                        "description": "Output format."
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional public HTTP(S) endpoint for task completion notifications. HTTPS is recommended. Omit, use null, or use an empty string to disable callbacks."
                  }
                },
                "description": "Keep model and callback_url at the root. Unknown root fields are ignored; unsupported input fields are rejected."
              },
              "examples": {
                "basic": {
                  "summary": "Basic workflow",
                  "value": {
                    "model": "xai/tts/v1",
                    "input": {
                      "text": "A quiet forest under soft morning light, with natural detail.",
                      "voice": "eve",
                      "language_code": "auto"
                    }
                  }
                },
                "callback": {
                  "summary": "Receive a completion callback",
                  "value": {
                    "model": "xai/tts/v1",
                    "input": {
                      "text": "A quiet forest under soft morning light, with natural detail.",
                      "voice": "eve",
                      "language_code": "auto"
                    },
                    "callback_url": "https://your-domain.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "enum": [
                        200
                      ]
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "task_id",
                        "status",
                        "created_time"
                      ],
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "finished",
                            "failed"
                          ]
                        },
                        "created_time": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "data": {
                    "task_id": "task-unified-example",
                    "status": "running",
                    "created_time": "2026-09-10T08:00:00"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, unsupported tier, inaccessible media, or insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown or disabled model",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid JSON or non-object request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate or API key credit limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Unable to create the upstream generation task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Model configuration or capability is not approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request timed out",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Request timeout"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use VIDGO_API_KEY."
      }
    }
  }
}
